/* no paddings or margins for page, use full height */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'poppins';
  font-size: 13px;
}


/* Navigation bar*/
.navcontainer {
  overflow: hidden;
  background-color:rgba(249,249,249,0);
}

.navcontainer a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  list-style: none;  /* remove bullets from list items */
  margin: 20px;
  margin-bottom: 0px;  /* compensate for margin-bottom on list items */
  width: auto;
}


/* Navbar links */
.topnavleft1 a {
  float: left;
  font-family: 'Poppins';
  font-size: 18px;
  color: #40394A;
}

.topnavleft1 a:hover {
  color: #99ff99;
  font-weight: bold;
}
