/* no paddings or margins for page, use full height */
  
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'poppins';
    font-size: 13px;
    cursor: crosshair;
  }

  ::selection {
    background-color: #99ff99;
    color: black;
  }

body{
  height: 100vh;
  width: 100%;
  display: block;
  margin: 0;
}

section{
  overflow: hidden;
  height: 100vh;
  width: 100%;
}


/* --------------- HOME PAGE --------------- */

  /*Content on the left*/
    @media only screen and (min-width: 768px) {
    .leftcontent {
      width: 50%;
      height: 100vh;
      float: left;
      cursor: crosshair;
      resize: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    /*Content on the right*/
    .rightcontent {
      display: block; /* show on screens larger than 768px */
      width: 50%;
      height: 100vh; /* set height to full viewport height */
      float: right;
      cursor: crosshair;
    }
  }


  /* Responsive design */

    @media only screen and (max-width: 768px) {
      .leftcontent {
        width: 100%; /* set width to 100% on screens larger than 768px */
      }

      .rightcontent {
        background-image: url('path/to/image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      h2 {
        font-weight: bold;
        margin-left: 1em;
        margin-right: 1em;
        font-family: 'Poppins';
        font-size: 18px;
        text-align: center;
        font-weight: 200;
        color: black;
      }


    }

/* --------------- NAVIGATION BAR --------------- */

      .navcontainer {
        overflow: hidden;
        background-color:rgba(249,249,249,0);
        cursor: crosshair;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
      }

      .navcontainer a {
        float: left;
        text-align: center;
        padding: 14px 16px;
        list-style: none;  /* remove bullets from list items */
        margin: 20px;
        margin-bottom: 0px;  /* compensate for margin-bottom on list items */

      }

      /* Navbar links */
      .topnavleft a {
        float: left;
        font-family: 'Poppins';
        font-size: 18px;
        color: black;
        cursor: crosshair;
      }

      .topnavleft a:hover {
        color: #99ff99;
        font-weight: bold;
      }

      .topnavright1 a {
        float: right;
        font-family: 'Poppins';
        font-size: 18px;
        color: #40394A;
      }

      .topnavright1 a:hover {
        color: #99ff99;
        font-weight: bold;
      }

      @media only screen and (max-width: 768px) {
        .navcontainer {
          text-align: center;
        }
        
        .navcontainer a {
          float: none;
          display: inline-block;
        }
        
        .topnavleft, .topnavright1 {
          width: 100%;
          text-align: center;
        }
        
        .topnavleft a {
          float: none;
          margin: 1em 0;
        }
        
        .topnavright1 a {
          float: none;
          margin: 1em 0;
        }
      }  

/* --------------- TEXTS --------------- */

  /* h1 */

    h1 {
      margin-top: 5em;
      margin-left: 1em;
      font-weight: bold;
      font-family: 'Poppins';
      font-size: 4em;
      color: black;
      text-align: left;
    }

    /* Responsive design */

    @media only screen and (max-width: 768px) {
      h1 {
      margin-top: 3em;
      text-align: center;
      margin-left: 0em;
      }
    }

  /* h2 */

    h2 {
      font-weight: bold;
      margin-left: 50px;
      margin-right: 50px;
      font-family: 'Poppins';
      font-size: 18px;
      text-align: right;
      font-weight: 200;
      color: black;
    }

  /* h3 */

    h3 {
      margin-top: 4em;
      margin-bottom: 0em;
      font-weight: bold;
      font-family: 'Poppins';
      font-size: 40px;
      color: black;
      text-align: center;
    }

  /* h4 */

    h4 {
      margin-top: 100px;
      font-weight: bold;
      font-family: 'Poppins';
      font-size: 40px;
      color: black;
      text-align: center;
    }

  /* h5 */

  h5 {
    font-weight: normal;
    font-family: 'montserrat';
    font-size: 14px;
    text-align: end;
    color: #40394A;
    padding: 40% 10px;
    line-height: 1.6;
  }
    
  /* paragraphs */

    p {
      font-weight: normal;
      font-family: 'montserrat';
      font-size: 1.2em;
      text-align: center;
      color: #40394A;
      padding: 3em 10em;
      line-height: 1.6;
    }

/* --------------- BUTTONS --------------- */

  .button-container {
    height: 10em;
    position: relative;
    cursor: crosshair;
  }

  .button-container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .button {
    background-color: #99ff99;
    border: none;
    color: #40394A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    width: 25%;
    margin: 20px;
    cursor: crosshair;
  }

  .button:hover {
    opacity: 50%;
    background-color: #40394A;
    color: #99ff99;
  }


/* --------------- GRIDS MY WORK --------------- */

  /* grid my work */

    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(561px,561px));
      grid-gap: 3rem;
      grid-template-rows: auto;
      margin: 3rem 0;
      padding: 0 3rem;
      justify-content: center;
      align-items: center;
    }

    .grid2 {
      display: grid;
      grid-template-columns: repeat(2, minmax(561px,561px));
      grid-gap: 3rem;
      grid-template-rows: auto;
      margin: 3rem 0;
      padding: 1rem 3rem;
      justify-content: center;
      align-items: center;
    }

  /* Adaptive grid my work */

    @media only screen and (max-width: 768px) {
      .grid {
        grid-template-columns: repeat(1, minmax(561px, 561px));
      }
    }


  /* container my work */

    .container{
      position: relative;
    }

    .container img{
      width: 100%;
      height: auto;
      display: block;
      filter: grayscale(90%);
      cursor: crosshair;
    }

    .container .text{
      opacity: 0;
    }

    .container .textblack{
      opacity: 0;
    }

    .container:hover img {
      filter: brightness(50%);
    }

    .container:hover .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: #fff;
      opacity: 50%;
      transition: opacity 0.3s ease;
      opacity: 1;
      font-size: 2em ;
      transition: opacity 0.6s ease-in-out;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 100;
    }

    .container:hover .textblack {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: #000;
      opacity: 50%;
      transition: opacity 0.3s ease;
      opacity: 1;
      font-size: 2em ;
      transition: opacity 0.6s ease-in-out;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 100;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

/* --------------- GRID PROJECT PAGES --------------- */

  .gridprojects {
    display: grid;
    grid-template-columns: repeat(2, minmax(561px,561px));
    grid-gap: 3rem;
    grid-template-rows: auto;
    margin: 3rem 0;
    justify-content: center;
    justify-items: center;
  }

  .img-container {
    width: 100%;
  }  

  .img-container img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: crosshair;
  }

  /* Adaptive grid my work */

  @media only screen and (max-width: 768px) {
    .gridprojects {
      grid-template-columns: repeat(1, minmax(561px, 561px));
    }
  }

/* ---------------  --------------- */

  .link {
    color: black;
    cursor: crosshair;
    }

  .link:hover {
    color: #99ff99;
    cursor: crosshair;
    }

/* --------------- VIDEO --------------- */

  .video-container {
    width: 80%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    align-content: center;
    margin-left: 50vw;
  transform: translate(-50%);
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* --------------- ABOUT ME PAGE --------------- */

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* add this to create space between columns */
  margin: 10rem 5rem;
}

.container1 > div {
  width: calc(33.33% - 10px); /* subtracting margin to create space between columns */
}


.container2 {
  position: relative;
  float: left;
  width: 33%;
}

.container2 .imgME img{
  width: 100%;
}

.container2 .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 33%;
}

.container2:hover .hoverImg {
  display: block;
  width: 33%;
}


@media (max-width: 600px) {
  .container2 {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container1 {
    flex-wrap: wrap;
    justify-content: center; /* center columns on mobile */
  }
  .container1 > div {
    width: 100%;
    margin-bottom: 20px; /* add margin to separate columns on mobile */
  }
}



  