/* no paddings or margins for page, use full height */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'poppins';
    font-size: 13px;
    cursor: crosshair;
  }

  ::selection {
    background-color: #99ff99;
    color: black;
  }

body{
  height: 100vh;
  width: 100%;
  display: block;
  margin: 0;
}

.coverpage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}


/* --- Home Page --- */

  /*Content on the left*/
  .leftcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    overflow-y: auto;
    align-content: baseline;
  }

  .content {
    margin-top: auto;
  }

  /*Content on the right*/
  .rightcontent {
    flex: 1;
    overflow: hidden;
    height: 100%;
    width: 50vh;
  }

/* --- Navigation Bar --- */

.navcontainer {
  overflow: hidden;
  background-color:rgba(249,249,249,0);
  cursor: crosshair;
}

.topnavleft {
  display: flex;
  padding: 2em 2em;
}

.topnavleft a {
  margin-right: 1em;
  margin-left: 1em;
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
  text-wrap: nowrap;
}

.topnavleft a:hover {
  color: #99ff99;
  font-weight: bold;
}

.topnavright1 a {
  float: right;
  font-family: 'Poppins';
  font-size: 18px;
  color: #40394A;
}

.topnavright1 a:hover {
  color: #99ff99;
  font-weight: bold;
}
/* --- Texts --- */

  h1 {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 4em;
    color: black;
    text-align: left;
  }


  h2 {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.5em;
    text-align: right;
    font-weight: 200;
    color: black;
  }


  h3 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 40px;
    color: black;
    text-align: center;
  }


  h4 {
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.5em;
    color: black;
    text-align: center;
  }


h5 {
  font-weight: normal;
  font-family: 'montserrat';
  font-size: 14px;
  text-align: end;
  color: #40394A;
  padding: 40% 10px;
  line-height: 1.6;
}
  

p {
  font-weight: 500;
  font-family: 'montserrat';
  font-size: 1.2em;
  text-align: center;
  color: #40394A;
  padding: 1em 20em;
  line-height: 1.6;
}

.caption {
    font-family: 'montserrat';  
    font-style: italic;
    text-align: center;
    padding: 0.2em 5em;
    color: #555;
}

  /* --- Buttons --- */

  .button-container {
    height: 10em;
    position: relative;
    cursor: crosshair;
  }

  .button-container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .button {
    background-color: #99ff99;
    border: none;
    color: #40394A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    width: 25%;
    margin: 20px;
    cursor: crosshair;
  }

  .button:hover {
    opacity: 50%;
    background-color: #40394A;
    color: #99ff99;
  }


/* --- Grids My Work --- */

  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 3rem;
    grid-template-rows: auto;
    margin: 1em 0;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
  }

  .container{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-content: center;
  }

  .container img{
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(90%);
    cursor: crosshair;
    object-fit: cover;
  }

  .container .text,
  .container .textblack{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
  }

  .container:hover img {
    filter: brightness(50%);
  }

  .container:hover .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    opacity: 50%;
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 2em ;
    transition: opacity 0.6s ease-in-out;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 100;
  }

  .container:hover .textblack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000;
    opacity: 50%;
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 2em ;
    transition: opacity 0.6s ease-in-out;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 100;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .filternav {
    display: flex;
    justify-content: center;
    margin: 2em 2em;
    flex-wrap: wrap;
  }

  .filterbtn {
    margin: 0 1em;
    padding: 0.5em 1em;
    background-color: #99ff99;
    color: #40394A;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .filterbtn:hover {
    background-color: #40394A;
    color: #99ff99;
  }

  /* --- Grid project pages --- */

  .gridprojects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3rem;
    grid-template-rows: auto;
    margin: 3rem 0;
    padding: 0 15rem;
    justify-content: center;
    justify-items: center;
  }

  .img-container {
    width: 100%;
    display: flex; /* Display images in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
  }  

  .img-container img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: crosshair;
  }

  .scroll-wrapper {
    overflow: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */  
    width: auto;
    height: 40rem;
    padding: 0;
    margin: 0 auto;
  }

  .scroll-wrapper img {
    width: auto; /* Set width for each image */
    height: 100%; /* Maintain aspect ratio */
  }



  /* --- Video --- */

  .video-container {
    width: 80%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    align-content: center;
    margin-left: 50vw;
  transform: translate(-50%);
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* ---- About Me page --- */

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* add this to create space between columns */
  margin: 10rem 5rem;
}

.container1 > div {
  width: calc(33.33% - 10px); /* subtracting margin to create space between columns */
}


.container2 {
  position: relative;
  float: left;
  width: 33%;
}

.container2 .imgME img{
  width: 100%;
}

.container2 .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 33%;
}

.container2:hover .hoverImg {
  display: block;
  width: 33%;
}

.link {
  color: black;
  cursor: crosshair;
}

.link:hover {
  color: #99ff99;
  cursor: crosshair;
}
  
/* --------------- RESPONSIVE DESIGN --------------- */

/* For medium screens, display 3 columns */
  
@media only screen and (max-width: 1200px) {

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
     
/* For small screens, display 2 columns */

@media only screen and (max-width: 910px) {
      
    .coverpage{
      flex-direction: column;
    }
    
    .rightcontent {
      width: 100%; /* Make both sections full width */
      height: 50vh; /* Make both sections half height */
    }

    .leftcontent {
      order: 1;
      overflow: hidden;
      height: 50vh; /* Make both sections half height */
    }

    .leftcontent h1 {
      margin: 0;
      font-size: 3em;
      text-align: right;
    }

    .leftcontent h2 {
      font-size: 1em;
      text-align: right;
    }

    .rightcontent {
      order: 2;
    }

    .rightcontent
    h2 {
      font-weight: bold;
      font-family: 'Poppins';
      font-size: 12px;
      text-align: center;
      font-weight: 200;
      color: black;
    }

  .navcontainer {
    text-align: center;
  }

  .navcontainer a {
    float: none;
    display: inline-block;
    font-size: 1em;
  }
  
  .topnavleft, .topnavright1 {
    justify-content: center;
  }
  
  .topnavleft a {
    float: none;
    margin: 1em 1em;
  }
  
  .topnavright1 a {
    float: none;
    margin: 1em 0;
  }

  .filternav{
    align-items: center;
  }
  
  .filterbtn{
    margin-top: 1em;
  }

  h1 {
    margin-top: 3em;
    text-align: center;
    margin-left: 0em;
    }
    
  p {
    max-width: 90%;
    padding: 1em 3em;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gridprojects {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 0 5rem;

}

.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.scroll-wrapper {
  height: 30rem;
}
    
}  

/* For extra small screens, display 1 column */
    
@media only screen and (max-width: 576px) {

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .container2 {
    flex-direction: column;
  }

  .container1 {
    flex-wrap: wrap;
    justify-content: center; /* center columns on mobile */
  }
  .container1 > div {
    width: 100%;
    margin-bottom: 20px; /* add margin to separate columns on mobile */
  }
}